[Unit]
Description=Telegram BOt
After=network.target

[Service]
User=root
Group=

WorkingDirectory=/home/FarmShampooBot_v2/
Environment="PYTHONPATH=/home/FarmShampooBot_v2/"
ExecStart=/home/FarmShampooBot_v2/.venv/bin/python /home/FarmShampooBot_v2/app.py

[Install]
WantedBy=multi-user.target
